:root {
    --colorPrincipal: #6361F2;
    --colorSecundario: #4f29f0;
    --negro: #000;
    --gris: #5e5e5e;
    --blanco: #fff;

    --disabled: #c3c8de;
    --width: 100%;
    --border-radius: 1rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scrollbar-width: none;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000;
    font-size: 2rem;
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    max-height: 1200px;
}
p { margin: 2rem 0 1rem 0; position: relative; width: fit-content; }

select {
    border: 1px solid #ddd;
    border-radius: .8rem;
    padding: .5rem 1rem;
    background-color: var(--blanco);
    width: inherit;
}

@media (min-width: 768px) {
    select { width: fit-content; }
}

button {
    width: fit-content;
    min-width: 10rem;
    height: 4.5rem;
    padding: .8rem;
    border-radius: .8rem;
    border: none;
    box-shadow: 0px 0px 20px -20px;
    margin-top: 1rem;
    cursor: pointer;
    color: #fff;
    background-color: var(--colorPrincipal);
    font-size: 1.4rem;
    padding: 1rem 3rem;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}
  
button:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 20px -18px;
}
  
button:active {
    transform: scale(0.95);
}

/*-- Utilidades --*/
.checklist {
    background: var(--blanco);
    width: var(--width);
    height: fit-content;
    border-radius: var(--border-radius);
    position: relative;
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}
  
.checklist label {
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;
    transition: color 0.3s ease;
    margin-right: 20px;
}
  
.checklist label::before, .checklist label::after {
    content: "";
    position: absolute;
}
  
.checklist label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--colorSecundario);
    border-radius: 2px;
    transition: background 0.3s ease;
}
  
.checklist label:after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
}
  
.checklist input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--blanco);
    display: grid;
    align-items: center;
    margin-right: 20px;
}
  
.checklist input[type="checkbox"]::before, .checklist input[type="checkbox"]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--colorSecundario);
    border-radius: 2px;
}
  
.checklist input[type="checkbox"]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
}
  
.checklist input[type="checkbox"]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
}
  
.checklist input[type="checkbox"]:checked::before {
    animation: check-01 0.4s ease forwards;
}
  
.checklist input[type="checkbox"]:checked::after {
    animation: check-02 0.4s ease forwards;
}
  
.checklist input[type="checkbox"]:checked + label {
    color: var(--disabled);
    animation: move 0.3s ease 0.1s forwards;
}
  
.checklist input[type="checkbox"]:checked + label::before {
    background: var(--disabled);
    animation: slice 0.4s ease forwards;
}
  
.checklist input[type="checkbox"]:checked + label::after {
    animation: firework 0.5s ease forwards 0.1s;
}
  
@keyframes move {
    50% {
      padding-left: 8px;
      padding-right: 0px;
    }
  
    100% {
      padding-right: 4px;
    }
}
  
@keyframes slice {
    60% {
      width: 100%;
      left: 4px;
    }
  
    100% {
      width: 100%;
      left: -2px;
      padding-left: 0;
    }
}
  
@keyframes check-01 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
  
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
  
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(45deg);
    }
  
    100% {
      width: 5px;
      top: 8px;
      transform: rotate(45deg);
    }
}
  
@keyframes check-02 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
  
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
  
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(-45deg);
    }
  
    100% {
      width: 10px;
      top: 8px;
      transform: rotate(-45deg);
    }
}
  
@keyframes firework {
    0% {
      opacity: 1;
      box-shadow: 0 0 0 -2px var(--colorSecundario), 0 0 0 -2px var(--colorSecundario), 0 0 0 -2px var(--colorSecundario), 0 0 0 -2px var(--colorSecundario), 0 0 0 -2px var(--colorSecundario), 0 0 0 -2px var(--colorSecundario);
    }
  
    30% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      box-shadow: 0 -15px 0 0px var(--colorSecundario), 14px -8px 0 0px var(--colorSecundario), 14px 8px 0 0px var(--colorSecundario), 0 15px 0 0px var(--colorSecundario), -14px 8px 0 0px var(--colorSecundario), -14px -8px 0 0px var(--colorSecundario);
    }
}

.grid {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
        width: 100%;
    }
}

.formulario {
    width: 100%;
    margin-top: 5rem;
}

.turnos, .semestres, .materias {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(65, 72, 86, 0.05);
}

/*-- Cotidiano --*/
div#contadorCreditos { font-size: 1.5rem; }

.materias p { margin: 0; }

/*-- Tablas --*/
.horario-container { margin-bottom: 5rem; }

.horario-container:last-child { margin-bottom: 0; }

.horario table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: var(--blanco);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.horario th, .horario td {
    border: 1px solid #bbb;
    padding: 12px;
    text-align: center;
}

.horario th {
    background-color: #bbb;
    font-weight: bold;
}

.clase-asignada {
    background-color: var(--colorPrincipal);
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
    color: var(--blanco);
}

.clase-asignada:hover { background-color: var(--colorSecundario); }

/*-- Horas --*/
.grid-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 768px) {
    .grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 100%;
    }
}

.rango-tiempo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.rango-tiempo:last-child { margin-bottom: 0; }

.rango-tiempo label { margin: 0 10px; }

.rango-tiempo input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: .5rem 1rem;
    background-color: #fff;
    width: 100%;
}

.eliminar-rango {
    width: 100%;
    background-color: #ff4444;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-azul,
.btn-verde { width: 100%; }

@media (min-width: 768px) {
    .rango-tiempo {
        flex-direction: row;

        input { width: fit-content; }

        .eliminar-rango {
            margin: 0 0 0 10px;
            padding: 5px 10px;
        }
    }

    .btn-azul,
    .btn-verde {
        width: 18.9rem;
        padding: 0;
    }
}

@media (min-width: 768px) {

}

p.rango-horas{ margin: 0; }

.btn-verde {
    background-color: var(--gris);
    color: #fff;
}

.btn-azul { 
    background-color: var(--colorPrincipal);
}



.hora-seleccionada::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--colorPrincipal);
}